* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

header {
    background-color: #CC444B;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    color: white;
}

header button {
    margin: 0;
    background-color: #DF7373;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav {
    background-color: #DF7373;
    padding: 0px;
    /* position: fixed; */
    width: 100%;
    /* top: 0; Cambiado para eliminar espacio en blanco */
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.titulo {
    text-align: center;
    padding: 50px;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center   
}

section div {
    border: 3px solid #CC444B;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
    margin: 0px 45px 45px 45px;
    padding: 20px;
    max-width: 325px;
}

section div:hover{
    background-color: #DF7373;
    h2 {
        color: white;
    }
    button {
        background-color: white;
        color: #CC444B;
    }
    a {
        color: black;
    }
}

section div article h2 {
    margin: 0;
    padding: 0;
    color: #CC444B;
}

section div p {
    margin: 20px;
}

article {
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

img {
    border-radius: 15px;/* Añadido para bordes redondeados */
    width: 100%;
    height: 100%;
}

.verplan {
    background-color: #DF7373;
    padding: 20px 20px;
    border: none;
    border-radius: 4px;
}

.verplan:hover {
    background-color: black;
    a {
        color: white;
    }
}

footer {
    background-color: #E39695;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}